body {
    font-family: sans-serif;
}

header {
    background-color: #35D4A4;
    padding: 20px;
    margin-bottom: 25px;
}


.link-header {
    text-decoration: none;
    color: #35D4A4;
    border: 3px solid #A63A00;
    padding: 10px;
    border-radius: 20px;
    background-color: #A63A00;
}

main h1 {
    color: #207E62;
    text-align: center;
}

main h2 {
    color: #207E62;
}

li {
    font-size: 20px;
    color: #BF6230;
}

footer {
    background-color: #5FD4B1;
    margin-top: 15px;
    padding: 25px;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: grey;
}
